{% extends "base.html" %}
{% load static %}
{% block title %}Об авторе проекта{% endblock %}
{% block content %}
<div class="container">
  <div class="row">
    <div class="col-12">
        <h1>Немного про меня</h1>
    </div>
  </div>
</div>
<div class="container">
  <div class="row">
      <div class="col-12 col-sm-12 col-md-6 col-lg-6 col-xl-6">
        <p>Я занимаюсь программированием с 2000 года, тогда в школе еще
          изучали Pascal. На тот момент программирование было чем-то
          далеким
          и непонятным. Далее в институте изучал C/C++, а устроившись на
          работу познакомился с С#. Знание этих языков позволило мне
          писать
          консольные и десктопные приложения для решения рабочих задач.
        </p>
        <p> Последний год активно изучаю технологии WEB-разработки. В
            данный
            момент прохожу курс обучения по программе
            Python-разработчик и надеюсь благополучно его закончить.
        </p>
      </div>
      <div class="col-12 col-sm-12 col-md-6 col-lg-6 col-xl-6">
        <img src="{% static 'img/cat.jpg' %}" width="600" height="500"
             class="d-inline-block align-top">
      </div>
  </div>
</div>
<div class="container">
  <div class="row">
    <div class="col-12">
        <h2>Мои работы</h2>
    </div>
  </div>
</div>
<div class="container">
  <div class="row">
    <div class="col-12 col-sm-12 col-md-6 col-lg-3 col-xl-3">
        <p><a href="http://comp-intel.ru">Конкурентная разведка</a></p>
    </div>
  </div>
</div>
<div class="container">
  <div class="row">
    <div class="col-12">
        <h2>Контакты для связи</h2>
    </div>
  </div>
</div>
<div class="container">
  <div class="row">
    <div class="col-12">
      <p>Телефон: +7 (999) 059-XX-XX</p>
      <p>Почта:<a href="mailto:taren4ikDOTprotonmail.com"
                  onclick="this.href=this.href.replace(/DOT/,'@')"><font
              style="vertical-align: inherit;"><font
              style="vertical-align: inherit;">Связаться со
          мной</font></font></a></p>
      <p>Телеграм:<a href="https://t.me/RattButler">
        <img src="{% static 'img/tlg_icon.png' %}" width="40"
             height="40">
      </a>
      </p>
    </div>
  </div>
</div>
{% endblock %}